* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Red Hat Display', sans-serif;
}

body {
  font-size: 16px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: url("./images/pattern-background-desktop.svg") no-repeat;
  background-color: hsl(225, 100%, 94%);
  background-size: 100%;
}

.order-summary {
  background-color: white;
  width: 25rem;
  max-width: 90%;
  height: 39rem;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

.order-summary .order-summary-img {
  width: 100%;
  height: 30%;
  border-radius: 15px 15px 0 0;
}

.order-summary .order-summary-img img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.order-summary h1 {
  text-align: center;
  margin-top: 2rem;
  padding: 0 1.5rem 1.25rem;
  font-size: 1.75rem;
  font-weight: 900;
  color: hsl(223, 47%, 23%);
}

.order-summary p.info {
  text-align: center;
  margin-bottom: 1.5rem;
  padding: 0 2rem;
  color: hsl(224, 23%, 55%);
}

.order-summary .order-summary-plan {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  background-color: hsl(225, 100%, 98%);
  border-radius: 15px;
  padding: 1rem;
  margin-bottom: 1.5rem;
}

.order-summary .order-summary-plan .annual-plan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2px;
  width: 55%;
  height: 60px;
}

.order-summary .order-summary-plan .annual-plan h2 {
  font-size: 1rem;
  font-weight: 900;
  color: hsl(223, 47%, 23%);
}

.order-summary .order-summary-plan .annual-plan p {
  color: hsl(224, 23%, 55%);
}

.order-summary .order-summary-plan a {
  color: hsl(245, 75%, 52%);
  font-size: 0.8rem;
  font-weight: 700;
}

.order-summary .order-summary-plan a:hover {
  text-decoration: none;
  color: hsl(240, 100%, 70%);
}

.order-summary button.proceed {
  display: block;
  width: 80%;
  height: 42px;
  margin: 30px auto 0;
  border: none;
  border-radius: 10px;
  background-color: hsl(245, 75%, 52%);
  color: white;
  font-weight: 900;
  box-shadow: 0 15px 10px 2px hsl(225, 100%, 94%);
  cursor: pointer;
}

.order-summary button.cancel {
  display: block;
  background: none;
  border: none;
  border-radius: 10px;
  width: 80%;
  height: 42px;
  margin: 20px auto;
  color: hsl(224, 23%, 55%);
  font-weight: 900;
  cursor: pointer;
}

.order-summary button.proceed:hover {
  background-color: hsl(240, 100%, 70%);
}

.order-summary button.cancel:hover {
  color: hsl(223, 47%, 23%);
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

@media screen and (max-width: 376px) {
  body {
    background: url("./images/pattern-background-mobile.svg") no-repeat;
    background-color: hsl(225, 100%, 94%);
  }
}